%div{ :style => "background-color: gray;"}
    - @dog_sprite_a.each do |row|
        %div.row{ :style => "display: flex; width: fit-content;"}
            - row.each do |pixel|
                %div.pixel{ :style => "background-color: #{pixel}; width: 0.2rem; height: 0.2rem;"}

    - @dog_sprite_b.each do |row|
        %div.row{ :style => "display: flex; width: fit-content;"}
            - row.each do |pixel|
                %div.pixel{ :style => "background-color: #{pixel}; width: 0.2rem; height: 0.2rem;"}

    - @dog_sprite_c.each do |row|
        %div.row{ :style => "display: flex; width: fit-content;"}
            - row.each do |pixel|
                %div.pixel{ :style => "background-color: #{pixel}; width: 0.2rem; height: 0.2rem;"}

    - @dog_sprite_d.each do |row|
        %div.row{ :style => "display: flex; width: fit-content;"}
            - row.each do |pixel|
                %div.pixel{ :style => "background-color: #{pixel}; width: 0.2rem; height: 0.2rem;"}

    - @dog_sprite_e.each do |row|
        %div.row{ :style => "display: flex; width: fit-content;"}
            - row.each do |pixel|
                %div.pixel{ :style => "background-color: #{pixel}; width: 0.2rem; height: 0.2rem;"}

